#To import files

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving 20201cei0136_empdata.csv to 20201cei0136_empdata.csv

In [ ]:
import pandas as pd
df=pd.read_csv("20201cei0136_empdata.csv")

In [ ]:
print(df.head())
print(df.shape)

   Empid   Ename    Salary         DOJ
0   1001  Ganesh   1000.00  10-10-2000
1   1002    Anil  23000.50   3/20/2002
2   1003  Gaurav       NaN  03-03-2002
3   1004    Hema  16500.50  09-10-2000
4   1005   Laxmi  12000.75  10-08-2000
(6, 4)

In [ ]:
print(df.head(2))

   Empid   Ename   Salary         DOJ
0   1001  Ganesh   1000.0  10-10-2000
1   1002    Anil  23000.5   3/20/2002

In [ ]:
df.columns

Index(['Empid', 'Ename', 'Salary', 'DOJ'], dtype='object')

In [ ]:
df.Ename

0    Ganesh
1      Anil
2    Gaurav
3      Hema
4     Laxmi
5     Anant
Name: Ename, dtype: object

In [ ]:
df[::2]

   Empid   Ename    Salary         DOJ
0   1001  Ganesh   1000.00  10-10-2000
2   1003  Gaurav       NaN  03-03-2002
4   1005   Laxmi  12000.75  10-08-2000

In [ ]:
df[4:5]

   Empid  Ename    Salary         DOJ
4   1005  Laxmi  12000.75  10-08-2000

In [ ]:
df.Empid.describe()

count       6.000000
mean     1003.500000
std         1.870829
min      1001.000000
25%      1002.250000
50%      1003.500000
75%      1004.750000
max      1006.000000
Name: Empid, dtype: float64

In [ ]:
df[['Empid','Ename']]

   Empid   Ename
0   1001  Ganesh
1   1002    Anil
2   1003  Gaurav
3   1004    Hema
4   1005   Laxmi
5   1006   Anant

In [ ]:
df1=df.append(df)
print('Shape of df1 : ',df1.shape)
print('Shape of df : ',df.shape)
df1=df1.drop_duplicates()
print('Shape of df1 after removing duplicates : ',df1.shape)

Shape of df1 :  (12, 4)
Shape of df :  (6, 4)
Shape of df1 after removing duplicates :  (6, 4)

In [ ]:
df.columns=[i.upper() for i in df]
df.columns

Index(['EMPID', 'ENAME', 'SALARY', 'DOJ'], dtype='object')

In [ ]:
print(df.isnull())
print(df.isnull().sum())

   EMPID  ENAME  SALARY    DOJ
0  False  False   False  False
1  False  False   False  False
2  False  False    True  False
3  False  False   False  False
4  False  False   False  False
5  False  False   False  False
EMPID     0
ENAME     0
SALARY    1
DOJ       0
dtype: int64

In [ ]:
df.dropna(inplace=True)
df.dropna(axis=1,inplace=True)
df

   EMPID   ENAME    SALARY         DOJ
0   1001  Ganesh   1000.00  10-10-2000
1   1002    Anil  23000.50   3/20/2002
3   1004    Hema  16500.50  09-10-2000
4   1005   Laxmi  12000.75  10-08-2000
5   1006   Anant   9999.99  09-09-1999

In [ ]:
df

   EMPID   ENAME    SALARY         DOJ
0   1001  Ganesh   1000.00  10-10-2000
1   1002    Anil  23000.50   3/20/2002
3   1004    Hema  16500.50  09-10-2000
4   1005   Laxmi  12000.75  10-08-2000
5   1006   Anant   9999.99  09-09-1999

In [ ]:
print('Highest salary is : ',df.SALARY.max())
print('Lowest salary is : ',df.SALARY.min())

Highest salary is :  23000.5
Lowest salary is :  1000.0

In [ ]:
df[df.SALARY>20000]

   EMPID ENAME   SALARY        DOJ
1   1002  Anil  23000.5  3/20/2002

In [65]:
df[['ENAME','EMPID']][df.SALARY>20000]

  ENAME  EMPID
1  Anil   1002

In [67]:
print('Average Salary is : ',df.SALARY.mean())
df['ENAME'][df.SALARY > df.SALARY.mean()]

Average Salary is :  12500.348

1    Anil
3    Hema
Name: ENAME, dtype: object

In [71]:
df1=df.sort_values('DOJ')
df1

   EMPID   ENAME    SALARY         DOJ
5   1006   Anant   9999.99  09-09-1999
3   1004    Hema  16500.50  09-10-2000
4   1005   Laxmi  12000.75  10-08-2000
0   1001  Ganesh   1000.00  10-10-2000
1   1002    Anil  23000.50   3/20/2002

In [72]:
df1.sort_values('DOJ',ascending=False,inplace=True)
df1

   EMPID   ENAME    SALARY         DOJ
1   1002    Anil  23000.50   3/20/2002
0   1001  Ganesh   1000.00  10-10-2000
4   1005   Laxmi  12000.75  10-08-2000
3   1004    Hema  16500.50  09-10-2000
5   1006   Anant   9999.99  09-09-1999

In [79]:
df.sort_values(['DOJ','SALARY'],ascending=[False,True],inplace=True)
df

   EMPID   ENAME    SALARY         DOJ
1   1002    Anil  23000.50   3/20/2002
0   1001  Ganesh   1000.00  10-10-2000
4   1005   Laxmi  12000.75  10-08-2000
3   1004    Hema  16500.50  09-10-2000
5   1006   Anant   9999.99  09-09-1999